<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">

</head>
<body>
    <div id="wrap">
        <div id="title">
            <h4>글자를 입력해 보세요</h4>
        </div>
        <div id="form">
            <form action="{% url 'result' %}" method="post">{% csrf_token %}
                <textarea name='text' id='' cols='60' rows='30'></textarea>
                <br>
                <input id="btn" type='submit' value="검사하기">
            </form>
        </div>

    </div>

</body>
</html>