#main{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: lightgray;
}

#blue{
    display : flex;
    padding: 10px 30px;
    background-color: royalblue;
    justify-content : space-between;
    color:white;
    height: 30px;
}
#search{
    height:40px;
    width: 80%;
    text-align: center;
}
#select{
    display:flex;
    background-color: white;
    justify-content : space-between;
    padding: 10px 50px;
}

#think{
    display:flex;
    justify-content : space-between;
    background-color: white;
    padding: 10px 20px;
    margin:3px 0;
}

.icon_box{
    width: 60px;
    height: 60px; 
    min-width: 60px;
    border-radius: 100px;
    overflow: hidden;
}

.icon{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#box{
    height:20px;
    width: 80%;
    border: 1.5px solid lightgray;
    border-radius: 30px;
    margin: 15px 10px;
    padding: 5px 20px;
    font-size: 15px;
}

#think h6{
    margin:0;
}

#story{
    height:200px;
    background-color: white;
    margin:3px 0;
}

#story h4{
    margin:0;
}

#story h5{
    margin:0;
}

#contents{
    display:flex;
    justify-content : space-between;
    width:100%;
    background-color: white;
    margin:3px 0;
}
.profile{
    display:flex;
    justify-content : space-between;
    margin:10px 0 ;
    font-weight:300;
}
.one{
    height:300px;
    width:100%;
}
.photo_box{
    display:flex;
    justify-content : center;
}
.photo_box img{
    height:200px;
    min-width:100px;
}

.text{
    font-size:15px;
}