<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="title">할 일</label>
            <input type="text" id="title" name='title' placeholder="할 일을 입력해주세요.">
        </div>
        <div>
            <label for="content">세부사항</label>
            <textarea name="content" id="content" cols='30' rows='10' placeholder="내용을 입력해주세요."></textarea>
        </div>
        <div>
            <label for="date">마감기한</label>
            <input type="date" id="date" name='date'>
        </div>
        <button type="submit">작성하기</button>
    </form>
</body>
</html>