@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap{
    display: flex;
    flex-direction: column;
}
.inline{
    display: inline;
}
#input{
    display: flex;
    flex-direction: column;
    margin:10px;
}
#text{
    display: flex;
    justify-content: center;
    margin:0 200px;
}
#text h4{
    color: rgb(0, 117, 102);
    font-weight:bold;
}

.content{
    min-width: 100px;
    margin: 30px;
}

.inputtext{
    display: flex;
    justify-content: center;

}