<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWG 경기 일정</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'home.css' %}">
</head>
<body>
    <h1>DWG 경기 일정</h1>
    <div>
        <ul>
            {% for post in posts %}
            <li>
                <a href="{% url 'detail' post.pk %}"> {{ post.title}}</a>
                <p style='display:inline'> {{post.date}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'new' %}">글 쓰러가기</a>
</body>
</html>